<div class="logincontainer row col-md-4" style="text-align: center;">
    <div><label for="username" class="form-group"></label>
        <input type="text" class="form-control inpBorder" autocomplete="off" name="username" placeholder="Username...">
    </div>
    <div>
        <label for="password" class="form-group"></label>
        <input type="password" name="password" class="form-control inpBorder" placeholder="Password...">
    </div>
    <div>
        <div class="reqFont" style="float: left; margin-top: 30px; margin-left: 11px;">Forgot Password? <a href="#" class="link-primary">Click Here</a></div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; float: right;">Submit</button>
    </div>
</div>